@font-face {
	font-family: 'circe';
	src: url('fonts/circe-regular.eot');
	src: local('circe'), local('circe-Regular'),
		url('fonts/circe-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-regular.woff') format('woff'),
		url('fonts/circe-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'circe';
	src: url('fonts/circe-extralight.eot');
	src: local('circe extralight'), local('circe-extralight'),
		url('fonts/circe-extralight.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-extralight.woff') format('woff'),
		url('fonts/circe-extralight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'circe';
	src: url('fonts/circe-thin.eot');
	src: local('circe thin'), local('circe-thin'),
		url('fonts/circe-thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-thin.woff') format('woff'),
		url('fonts/circe-thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'circe';
	src: url('fonts/circe-light.eot');
	src: local('circe light'), local('circe-light'),
		url('fonts/circe-light.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-light.woff') format('woff'),
		url('fonts/circe-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'circe';
	src: url('fonts/circe-bold.eot');
	src: local('circe bold'), local('circe-bold'),
		url('fonts/circe-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-bold.woff') format('woff'),
		url('fonts/circe-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'circe';
	src: url('fonts/circe-extrabold.eot');
	src: local('circe extrabold'), local('circe-extrabold'),
		url('fonts/circe-extrabold.eot?#iefix') format('embedded-opentype'),
		url('fonts/circe-extrabold.woff') format('woff'),
		url('fonts/circe-extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}